# System Verification

![image caption](Pictures/Verification_Table.png)

Our Verification Table shows the connections between each of our parts. We were able to verify all of our connections, indicating that our PCB was successful in its design.


[Back to Home Page](/index.md)
